.emp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 25px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-bottom: 18px;
  border-radius: 10px;
}

.emp-info h2 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.emp-meta {
  display: block;
  font-size: 14px;
  color: #777;
}

.emp-designation {
  display: block;
  font-size: 13px;
  color: #555;
  margin-top: 2px;
  font-style: italic;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.change-pwd-btn,
.logout {
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.change-pwd-btn {
  background-color: #007bff;
  color: white;
  margin-right: 0px !important;
}

.change-pwd-btn:hover {
  background-color: #0056b3;
}

.logout {
  background-color: #dc3545;
  color: white;
}

.logout:hover {
  background-color: #b52a37;
}

/* --- Mobile styles --- */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}

@media (max-width: 520px) {
  .emp-header {
    flex-direction: column;
    align-items: flex-start ;
    padding: 15px;
  }

  .emp-info h2 {
    font-size: 18px;
  }

  .emp-meta,
  .emp-designation {
    font-size: 13px;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 28px;
  }

  .btn-group {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 8px;
  }

  .btn-group.open {
    display: flex;
  }

  .change-pwd-btn,
  .logout {
    width: 100%;
    text-align: center;
  }
}
