.popup-message {
  position: absolute;
  top: 510px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  animation: fadeInOut 2s ease-in-out;
  z-index: 10;
}

.popup-message.success {
  background-color: #0056b3;
  color: white;
}

.popup-message.error {
  background-color: #f44336;
  color: white;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, -10px); }
  10% { opacity: 1; transform: translate(-50%, 0); }
  90% { opacity: 1; transform: translate(-50%, 0); }
  100% { opacity: 0; transform: translate(-50%, -10px); }
}
