.profile-modal {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}

.profile-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 500;
  color: #333;
}

.primary-btn4{
  background: #007bff;
  color: white;
    border: none;
  outline: none;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.primary-btn4:hover {
  background: #01458f;
  transform: translateY(-2px);
}

.profile-form input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 14px;
}

.profile-form input:focus {
  border-color: #007bff;
  outline: none;
}

.profile-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;

}

.profile-btn:hover {
  background-color: #0056b3;
}

.primary-btn5{
  background: #007bff;
  color: white;
    border: none;
  outline: none;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.primary-btn5:hover {
  background: #0056b3;
  transform: translateY(-2px);
}

.success-popup {
  width:400px;
  position: absolute;
  top: 315px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0056b3;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  animation: fadeInOut 2s ease-in-out forwards;
  z-index: 999;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, -20px); }
  20% { opacity: 1; transform: translate(-50%, 0); }
  80% { opacity: 1; transform: translate(-50%, 0); }
  100% { opacity: 0; transform: translate(-50%, -20px); }
}
