.review-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 15px;
  margin-bottom: 10px;
}

.primary-btn5 {
  background-color: #107cf0;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn5:hover {
  background-color: #013d7e;
}

.cancel-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #c0392b;
}

.popup-message8 {
  position: absolute;
  top: 510px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  animation: fadeInOut 2s ease-in-out;
  z-index: 700;
}

.popup-message8  .success-popup {
  border-left: 6px solid #d9e7d9;
  color: white;
}

.popup-message8 .error-popup {
  border-left: 6px solid #e53935;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

