/* src/index.css - global */
:root{
  --bg: #0f172a;
  --card: #0b1220;
  --accent: #3b82f6;
  --muted: #9aa3b2;
  --text: #e6eef8;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background:#edeef0;
  color: #333;
  height: auto;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.app-container{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  overflow: hidden;
}
a { color: var(--accent); text-decoration: none; }
